{% extends "layout.html" %}

{% block body %}
<h2>Get Involved at WMUC</h2>

<p>
  To learn more about getting on the air at WMUC, attend one of our Open Houses at the beginning of a term. Check back on the home page or join the
  <a href="https://www.facebook.com/wmucfm">Facebook page</a> around the beginning of the semester for details!
  <br>
  <br>
  To get involved with any of our other departments, <a href="/about/staff">get in touch with us</a>!
  Attending their respective open houses is also a great way to learn more about becoming a part of WMUC.
</p>
{% endblock %}
