{% extends "layout.html" %}

{% block body %}
<h2>History of Radio at the University of Maryland</h2>
<ul>
  <li>1935-1937 - The University of Maryland begins its forays into radio through the University Radio League and the National Committee on Education by Radio.</li>

  <li>June 4, 1937 - The university announces a new academic course of study in radio broadcasting, in partnership with the Columbia Broadcasting System (CBS).</li>

  <li>Fall 1938 - The Department of Speech offers its first laboratory course in radio broadcasting, “Speech101: Radio Speaking.”

  <li>Spring 1942 - The first campus radio system, the Old Line Network, starts daily broadcasts.</li>

  <li>January 1943 - The Old Line Network shuts down when the students join the armed forces.</li>

  <li>October 1947 – May 1948 - Students raise over $1,000 to help establish a new campus radio station under the call letters WUOM. The station eventually adopts call letters WMUC, likely because the University of Michigan received an FCC license to broadcast as WUOM in 1948.</li>

  <li>October 11, 1948 - WMUC goes on the air. Three days later, the station engineers shut it down due to poor transmission.</li>

  <li>1949 - After being rewired through the campus dorms, WMUC restarts broadcasting from the basement of Silvester Hall.</li>

  <li>1950 - WMUC relocates to a renovated shower room in Calvert Hall.</li>

  <li>1952 - WMUC extends its broadcasts to six days a week, and staffers work around the clock to report the 1952 presidential election.</li>

  <li>Fall 1953 - Entire WMUC station moves to Building FF (old Journalism building), after spending at least a year split between two buildings. WMUC also made its first long-distance remote broadcast from Raleigh, NC covering Maryland's games in the Southern Conference Basketball Tournament.</li>

  <li>April 1956 - WMUC increases its broadcast frequency from 610 to 650 kilocycles on the AM dial.</li>

  <li>February 11, 1964 - WMUC staffers Bill Seaby, Paul Palmer, and Alan Batten attend the Beatles concert and press conference at the Washington Coliseum in DC; John Lennon records promotional spots for the station (although Lennon was warned not to do so because it would show “favoritism”). The promos were used extensively until 1970 when the station's format changed from Top 40 to freeform. WMUC also interviewed Apollo astronaut Gus Grissom, members of Peter, Paul and Mary, Phyllis Diller, Chubby Checker, the Four Seasons, Jimmy Dean, Fats Domino, and Bill Cosby.</li>

  <li>1965 - The Intercollegiate Broadcasting System selects WMUC as the recipient of its “All-American College Radio Station” Award.</li>

  <li>February 1971 - The Journal of College Radio names WMUC its “Station of the Month.”</li>

  <li>1972 - WMUC expands its demography with Yesternow, a radio program dedicated to music, culture and community events of interest to black and minority students.</li>

  <li>August 1974 - WMUC moves to the top floor of the South Campus Dining Hall, which remains the station’s location to this day.</li>

  <li>April 14, 1975 - Four WMUC DJs (Seth Greenstein, Rich Hodge, Steve Mazurowski, and Greg Smith) set the World Collegiate Disc-Jockeying Record for 101 continuous hours of broadcasting.</li>

  <li>September 10, 1979 - After more than five years of bidding for licenses and two FCC rejections, WMUC is granted an FM license and begins broadcasting on 88.1.</li>

  <li>1982 - WMUC-FM adopts an all-freeform format.</li>

  <li>1996 - Third Rail Radio, a weekly live performance program, debuts.</li>

  <li>1999 - Operation of AM 650 ceases.</li>

  <li>2002 - WMUCsports.com starts streaming online.</li>

  <li>2008 - WMUC-2, a separate, internet-only station, launches.</li>

  <li>2013 - 76th anniversary of the university’s radio program, 70th anniversary of campus radio at the University of Maryland and 65th anniversary of WMUC  </li>
</ul>
{% endblock %}
