<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WMUC-College Park</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WMUC Radio</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('static_history')}}">History</a></li>
                  <li><a href="{{ url_for('static_staff')}}">Executive Staff</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ url_for('static_get_involved')}}">Get Involved</a></li>
                  <li><a href="{{ url_for('static_donate')}}">Donate to WMUC</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{{ url_for('static_submit_music')}}">Submitting Music</a></li>
                  <li><a href="{{ url_for('static_submit_psa')}}">Submitting PSA</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">FM</a></li>
                  <li><a href="#">Digital</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Archive</a></li>
                </ul>
              </li>
            </ul>
            <ul class= "nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Playlists</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Logs</a></li>
                  <li><a href="#">Registry</a></li>
                  <li role="separator" class="divider"></li>
		              <li><a href="#">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          <div>
        </div>
      </nav>
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class=col-md-8>
          {% block body %} {% endblock %}
        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>
