{% extends "layout.html" %}

{% block body %}
<!-- This will be replaced with a dynamically generated staff page when users are more fleshed out-->
<h2>Contact the Staff</h2>
<div class="row">
  <div class="col-md-6">
    <ul>
      <li>
        <strong>General Manager: Jane Lyons</strong>
        <ul>
          <li><a href="mailto:wmucgm@gmail.com">wmuc.gm@gmail.com</a></li>
          <li><em> Office Hours: By appointment. Please email <a href="mailto:wmucgm@gmail.com">wmuc.gm@gmail.com</a> to schedule a time.</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Operations Director: Adam Kellner</strong>
        <ul>
          <li><a href="mailto:wmuc.ops@gmail.com">wmuc.ops@gmail.com</a></li>
          <li><em> Office Hours: TBA</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Music Director: Maddie Metcalfe</strong>
        <br>
        <strong>Assistant Music Director: Jordan Stovka</strong>
        <ul>
          <li><a href="mailto:wmucmusicdir@gmail.com">wmuc.musicdir@gmail.com</a></li>
          <li><em> Office Hours: Mondays 1:00 - 3:00 PM</em></li>
          <li><em>For artists/representatives of artists who would like to be played on WMUC. WMUC does not accept digital submissions. Send submissions to 3130 Campus Dr, College Park, MD 20742</em></li>
          <li><em> Office Phone: 301-314-7867 </em></li>
          <li><strong>Music Team</strong></li>
          <ul>
            <li><em> Meeting Times: Thursday 5:00 - 6:30 PM in WMUC Lobby</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Promotions Director: Ava Mirzadegan</strong>
        <ul>
          <li><a href="mailto:wmucpromos@gmail.com">wmuc.promos@gmail.com</a></li>
          <li><em> Office Hours: By appointment</em></li>
          <li><strong>Promotions Team</strong></li>
          <ul>
            <li><em> Meeting Times: TBA</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Community Outreach Director: Adam Raeder</strong>
        <ul>
          <li><a href="mailto:wmuc.outreach@gmail.com">wmuc.outreach@gmail.com</a></li>
          <li><em> Office Hours: Fridays 2:00 - 4:00 PM</em></li>
          <li><strong>Promotions Team</strong></li>
          <ul>
            <li><em> Meeting Times: TBA</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Social Media Director: Katherine Zmoda</strong>
        <ul>
          <li><a href="mailto:wmuc.social@gmail.com">wmuc.social@gmail.com</a></li>
          <li><em> Office Hours: Wednesdays 7:00 - 8:00 PM</em></li>
          <li><strong>Promotions Team</strong></li>
          <ul>
            <li><em> Meeting Times: TBA</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Graphic Design Manager: Theresa Phan</strong>
        <ul>
          <li><a href="mailto:wmuc.graphics@gmail.com">wmuc.graphics@gmail.com</a></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Recording Studio Director: Jay Kinnaman</strong>
        <ul>
          <li><a href="mailto:wmuc.recordingstudio@gmail.com">wmuc.recordingstudio@gmail.com</a></li>
          <li><em> Office Hours: Sundays 5:00 - 6:00 PM</em></li>
          <li><strong>Recording Studio Team</strong></li>
          <ul>
            <li><em> Meeting Times: Sundays 5 PM in WMUC Live Room & Recording Studio</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>News Directors: Tyler Boyle and Anna Muckerman</strong>
        <ul>
          <li><a href="mailto:wmucnewsdirector@gmail.com">wmuc.newsdirector@gmail.com</a></li>
          <li><em> Office Hours: TBA</em></li>
          <li><strong>News, Drop the Pop, Humpnight</strong></li>
          <li><em> Contact <a href="mailto:wmucnewsdirector@gmail.com">wmuc.newsdirector@gmail.com</a> for meeting times</em></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li>
        <strong>Programming Director: Blaise Brennan</strong>
        <ul>
          <li><a href="mailto:programmingwmuc@gmail.com">programming.wmuc@gmail.com</a></li>
          <li><em> Office Hours: Tuesdays 2:00 - 4:00 PM</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Business Director: Colin Wick</strong>
        <ul>
          <li><a href="mailto:wmuc.biz@gmail.com">wmuc.biz@gmail.com</a></li>
          <li><em> Office Hours: Thursdays 12:30 - 1:30 PM</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Record Library Manager: Matthew Gates</strong>
        <ul>
          <li><a href="mailto:wmuclibrarian@gmail.com">wmuc.librarian@gmail.com</a></li>
          <li><em> Office Hours: TBA</em></li>
          <li><strong>Record Library Team</strong></li>
          <ul>
            <li><em> Meeting Times: Mondays 6:00 - 8:00 PM in WMUC Record Library</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Live Music Director: Arthi Vijaykumar</strong>
        <br>
        <strong>Assistant Live Music Director: Rashid Ahmad</strong>
        <ul>
          <li><a href="mailto:wmuclivemusic@gmail.com">wmuc.livemusic@gmail.com</a></li>
          <li><em> Office Hours: TBA</em></li>
          <li><em>Want to perform live on WMUC? Get in touch!</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>Video Team Manager: Joseph Antony</strong>
        <ul>
          <li><a href="mailto:jantony789@gmail.com">jantony789@gmail.com</a></li>
          <li><strong>Video Team</strong></li>
          <ul>
            <li><em> Meeting Times: Sundays 5:30 PM in WMUC Live Room</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>IT Director: Colin Burr</strong>
        <ul>
          <li><a href="mailto:wmuc.it@gmail.com">wmuc.it@gmail.com</a></li>
          <li><em> Office Hours: Fridays 11:00 AM</em></li>
        </ul>
      </li>
      <br>
      <li>
        <strong>App Manager: Ben Graney Green</strong>
        <ul>
          <li><a href="mailto:wmuc.apps@gmail.com">wmuc.apps@gmail.com</a></li>
          <li><strong>App Team</strong></li>
          <ul>
            <li><em> Meeting Times: Wednesdays 7:30 PM at <a href="http://thestamp.umd.edu/student_org_resource_center_sorc" >SORC</a></em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Chief Engineer: Sam Becraft</strong>
        <ul>
          <li><a href="mailto:engineering.wmuc@gmail.com">engineering.wmuc@gmail.com</a></li>
          <li><em> Office Hours: Sundays 3:00 - 4:00 PM</em></li>
          <li><strong>Engineering Team</strong></li>
          <ul>
            <li><em> Meeting Times: Sundays at 3 PM in Engineering Office</em></li>
          </ul>
        </ul>
      </li>
      <br>
      <li>
        <strong>Sports Directors: Liam Beatus and Megan Smedley</strong>
        <ul>
          <li><a href="mailto:wmucsports@gmail.com">wmuc.sports@gmail.com</a></li>
          <li><a href="http://www.wmucsports.net"> www.wmucsports.net</a></li>
          <li><em>For anything and everything involving WMUC's Sports department, click over to their site and get in touch.</em></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
